.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar h1 {
    color: #FF6C4A;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.nav-logo {
    height: 5%;
    width: 5%;
    margin-right: 1rem;
}